# Node modules
node_modules/

# Environment variables
.env
.env.local

# Logs and temp
logs/
*.log
tmp/
pids/
*.pid
*.seed
*.pid.lock

# Database / cache / uploads
*.sqlite
*.db
*.db-journal
uploads/
cache/

# Build output
dist/
build/

# Editor / System files
.DS_Store
.vscode/
.idea/
Thumbs.db

# Coverage
coverage/

# Ignore generated Prisma client
generated/
prisma/generated/
